<div class="logo">
  <img
          width="600px"
          alt="Long Service Awards - Banner"
          class="logo"
          src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2023/03/LSA_Sign_Small_Banner-scaled.jpg"
  >
</div>