<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<p>REGISTRATION CLOSES TOMORROW APRIL 29TH!</p>

<p>We are contacting you today as your registration for the Long Service Awards remains incomplete. Please fill in your missing registration details <a href="https://lsaapp.gww.gov.bc.ca/registration/">here</a>.</p>

<p>If you experience any technical issues please email us and we will work with you to resolve them.</p>

<p>If you would like to cancel your registration please respond to this email and let us know.</p>

<p>Thank you,</p>

<p>The Long Service Awards Team</p>

</body>
</html>
