<%- await include('email-doctype'); %>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <%- await include('email-head', {title: title}); %>

        <body class="body"
            style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none">
            <div class="container">
                <%- await include('email-banner'); %>

                    <h3>The Government of British Columbia is pleased to invite</h3>

                    <h2>{{ $first_name }} {{ $last_name }}</h2>

                    <h4>to the Long Service Awards Ceremony</h4>

                    <table cellpadding="5" cellspacing="5" width="100%" bgcolor="#eeeeee">
                        <tbody>
                            <tr>
                                <th>Location
                                <th>
                                <td>
                                    @if (!empty($location_name) && !empty($street_address) && !empty($community) &&
                                    !empty($province))
                                    {{ $location_name }}<br>{{ $street_address }}<br>{{ $community }}, {{ $province }}
                                    @else
                                    TBD
                                    @endif
                                </td>
                            </tr>
                            <tr>
                                <th>Date
                                <th>
                                <td>{{ $scheduled_date }}</td>
                            </tr>
                        </tbody>
                    </table>

                    @if (!empty($notes))
                    <p class="info-box">{{ $notes }}</p>
                    @endif

                    <p>This invitation is for the intended recipient and a guest. Please note, all attendees are
                        required to be fully vaccinated against COVID-19 and show proof of vaccination upon entry. Fully
                        vaccinated means you have a BC Vaccine Card or Government of Canada Proof of Vaccination
                        confirming you are fully vaccinated or can provide equivalent proof from another province or
                        country.</p>

                    <p>Dress: Business attire</p>

                    <p>Doors open at {{ $scheduled_time }}</p>

                    <p>Please click one of the RSVP link below to respond to this ceremony invitation.</p>

                    <p>
                        Please note: this RSVP link will expire at {{ $expiry }}.
                    </p>

                    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
                        <tr>
                            <td style="background:#D84A38;text-align:center;">
                                <div>
                                    <a href="{{ $attendingURL }}"
                                        style="background-color:#D84A38;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;">YES,
                                        I wish to attend</a>
                                </div>
                            </td>
                            <td width="25">&nbsp;</td>
                            <td style="background:#D84A38;text-align:center">
                                <div>
                                    <a href="{{ $declinedURL }}"
                                        style="background-color:#D84A38;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;">NO,
                                        I will not be attending</a>
                                </div>
                            </td>
                        </tr>
                    </table>
            </div>
        </body>

    </html>