<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center">
            <!-- Fixed-width container for the logo -->
            <table width="400" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center">
                        <img src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2026/03/WIW-Logo.png"
                            alt="BC Public Service logo" width="400" style="display:block; border:0; height:auto;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>