<div class="logo" style="width: 100%">
  <!-- <img
    alt="Long Service Awards - Banner"
    class="logo"
    src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2023/03/LSA_Sign_Small_Banner-scaled.jpg"
  /> -->
  <img
    align="center"
    border="0"
    alt="Long Service Awards - Banner"
    class="logo"
    src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2023/03/LSA_Sign_Small_Banner-scaled.jpg"
    style="
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      clear: both;
      display: inline-block !important;
      border: none;
      height: auto;
      float: none;
      width: 100%;
      max-width: 100%;
    "
    width="600"
  />
</div>
