@extends('emails.formatted')
@section('title', 'RSVP Confirmation')
@section('content')

<p>This is an automated email. No response is required.</p>

<p>{{ $first_name }} {{ $last_name }},</p>

<p>Thank you for confirming your attendance for your Long Service Awards ceremony.
  If you need to make changes to your RSVP information or cancel your attendance,
  please email the
  <a href="mailto:LongServiceAwards@gov.bc.ca?subject=RSVP%20to%20ceremony">Long Service Awards</a>
  team as soon as possible.
</p>

<p>The ceremony will take place on {{ $scheduled_date }} at

  @if (!empty($location_name) && !empty($street_address) && !empty($community) && !empty($province))
  {{ $location_name }}, {{ $street_address }}, {{ $community }}, {{ $province }}.
  @else
  (TBD).
  @endif

  Dress: Business attire. Doors open at {{ $scheduled_time }}.
</p>

<p>Please note, all attendees are required to be fully vaccinated against COVID-19 and show proof of vaccination upon entry. Fully vaccinated means you have a BC Vaccine Card or Government of Canada Proof of Vaccination confirming you are fully vaccinated or can provide equivalent proof from another province or country.</p>

<p>For information about travel reimbursement and taking time off, visit the
  <a href="https://longserviceawards.gww.gov.bc.ca/travel/">Long Service Awards website</a>
  or contact your workplace
  <a href="https://longserviceawards.gww.gov.bc.ca/contacts/">Long Service Awards contact</a>.
  If you have questions about the ceremony, email the
  <a href="mailto:longserviceawards@gov.bc.ca?subject=Question%20about%20LSA%20ceremony">
    Long Service Awards team</a>.
</p>

<p>Please find your printable keepsake invitation attached. This is not required for entry.</p>

<p>We look forward to celebrating your important milestone at the ceremony.</p>

<p>Thank you,<br /><br />Long Service Awards Team</p>


@endsection