<div class="logo" style="width: 100%">
    <!-- <img
    alt="Long Service Awards - Banner"
    class="logo"
    src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2023/03/LSA_Sign_Small_Banner-scaled.jpg"
  /> -->
    <div style="height: 100%; width: 100% !important">
        <!--[if (!mso)&(!IE)]><!-->
        <div style="
                                              box-sizing: border-box;
                                              height: 100%;
                                              padding: 0px;
                                              border-top: 0px solid transparent;
                                              border-left: 0px solid transparent;
                                              border-right: 0px solid transparent;
                                              border-bottom: 0px solid transparent;
                                            "><!--<![endif]-->
            <table style="font-family: 'Open Sans', sans-serif" role="presentation" cellpadding="0" cellspacing="0"
                width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="
                                                      overflow-wrap: break-word;
                                                      word-break: break-word;
                                                      padding: 0px;
                                                      font-family: 'Open Sans', sans-serif;
                                                    " align="center">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="
                                                            padding-right: 0px;
                                                            padding-left: 0px;
                                                          " align="center">
                                        <img border="0" alt="BC Public Service - Where ideas work, logo" class="logo"
                                            src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2026/03/WIW-Logo.png"
                                            width="400" style="
                                                                  outline: none;
                                                                  text-decoration: none;
                                                                  -ms-interpolation-mode: bicubic;
                                                                  display: block !important;
                                                                  border: none;
                                                                  height: auto;
                                                                  max-width: 400px;
                                                                " />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--[if (!mso)&(!IE)]><!-->
        </div>
        <!--<![endif]-->
    </div>

</div>