<div class="logo" style="width: 100%">
    <!-- <img
    alt="Long Service Awards - Banner"
    class="logo"
    src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2023/03/LSA_Sign_Small_Banner-scaled.jpg"
  /> -->
    <img align="left" border="0" alt="BC Public Service - Where ideas work, logo" class="logo"
        src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2026/03/WIW-Logo.png" style="
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      clear: both;
      display: inline-block !important;
      border: none;
      height: auto;
      width: auto;
      float: none;
      max-width: 400px;
      max-height: 350px;
    " width="600" />
</div>