<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<strong>THIS IS AN AUTOMATED EMAIL. NO RESPONSE IS REQUIRED.</strong>

<p>You have successfully registered for a {{$recipient->milestones}} year Long Service Award. Congratulations on reaching this milestone in your career!</p>

<p>An email has been sent to your supervisor so they are aware of your registration.</p>

<p>Find details about the program on the Long Service Awards website.</p>

<p>Long Service Awards team</p>

</body>
</html>
