<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Long Service Awards: <%= title %></title>
  <style>
    /* Take care of image borders and formatting */

    img {
      max-width: 600px;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a {
      border: 0;
      outline: none;
    }

    a img {
      border: none;
    }

    p {
      text-align: left;
    }

    /* General styling */

    p,
    table,
    td,
    th,
    h1,
    h2,
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-align: left;
    }

    td,
    th {
      font-size: 14px;
      line-height: 19px;
      text-align: left;
      vertical-align: top;
      padding: 10px;
    }

    p {
      font-size: 14px;
    }

    th {
      font-weight: 700;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      margin: auto;
      height: 100%;
      color: #000000;
      background: #ffffff;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 0;
    }

    table {
      border-collapse: collapse !important;
      margin-left: 2em;
      margin-right: 2em;
    }

    h1,
    h2,
    h3,
    h4 {
      padding: 10px 0;
      margin: 0;
      color: #000000;
      font-weight: 400;
      line-height: 110%;
      text-align: left;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 27px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 16px;
      font-weight: normal;
    }

    div.logo,
    img.logo {
      height: auto;
      margin: auto;
    }

    .container
    {
      padding-left: 15px;
      padding-right: 15px;
    }

  </style>

  <style type="text/css" media="screen">
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:500,700&display=swap);
    @media screen {
      td,
      p,
      span,
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Open Sans", sans-serif !important;
      }
    }
  </style>
</head>
