<%- include('email-doctype'); %>
<html xmlns="http://www.w3.org/1999/xhtml">
<%- include('email-head', {title: title}); %>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
    <tr>
        <td align="center" valign="middle" bgcolor="#ffffff" width="100%">

            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="100%">
                        <div class="logo">
                            <img class="logo" src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2022/07/lsa-logo-web.png">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:1px solid #e7e7e7;">
                        <h1 style="text-align: center">Long Service Awards: Registration Confirmation</h1>
                        <p style="text-align: center"><strong>THIS IS AN AUTOMATED EMAIL. NO RESPONSE IS REQUIRED.</strong></p>
                        <p>
                            You have successfully registered for a <%= service.milestone %> year Long Service Award.
                            Congratulations on reaching this milestone in your career!
                        </p>
                        <p>
                            An email has been sent to your supervisor, so they are aware of your registration and can support
                            you to attend your award ceremony.
                        </p>
                        <p>
                            Find details about the program including the ceremony, travel policies and more on
                            the <a href="https://longserviceawards.gww.gov.bc.ca">Long Service Awards website</a>.
                        </p>
                        <h2>Ceremony dates</h2>
                        <p>
                            We are following the Provincial Health Officer’s directives regarding events and travel. We will
                            provide any updates to registered recipients over the summer and update the Long Service Awards website.
                        </p>
                        <h2>Deferring attendance</h2>
                        <p>
                            If you have registered but are unable to attend your ceremony, you may defer for one year and attend a
                            ceremony in 2024. Please RSVP your regrets and re-register for the Long Service Awards next year.
                            Arrangements will be made to have your award presented to you towards the end of the year.
                        </p>
                        <h2>Travel</h2>
                        <p>
                            Please connect with your Long Service Award contact to confirm your organization’s travel process.
                            You can also find information about the travel policy and reimbursement process on the Long Service Awards
                            website.
                        </p>
                        <p>We hope to see you at the ceremony this fall.</p>
                        <p>Long Service Awards team</p>
                        <%- include('email-footer'); %>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

